@config Application Configuration

# This is the software configuration file

/sys/app/id tgp

# allow overrides of the application id to select
# a different application configuration
@include /var/config/app.cfg

# apply the application configuration
@require ${/sys/app/id}.cfg



