@config Hardware Configuration

# This configuration file defines hardware specific settings

# set the default hardware configuration
/sys/hw/id bbg

# apply local overrides
@include /var/config/hw.cfg

# load hardware specific settings
@require ${/sys/hw/id}.cfg


