@config System Configuration

# This is the main entry point for loading the system configuration

# Load Hardware Configuration
@require hardware.cfg

# Load Application Configuration
@require app.cfg

# Load device specific settings
@require /var/config/device.cfg

# Load user settings
@include /var/config/user.cfg



