@config The Gateway Project

# This is the software configuration file

/sys/app/version 1.0
/sys/app/name The Gateway Project
/sys/app/shortname tgp
/sys/app/description Event Driven Multi-Process Demonstrator Project
/sys/app/guid f791a739-e0c8-4241-92e3-53b293377aa4
/sys/app/modified 2020-02-17 05:39:45Z
/sys/app/copyright (c)2022 Trevor Monk
/sys/app/license closed
/sys/app/contact tjmonk@gmail.com







